services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: cart-api-dev
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=development
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=cart_db
    ports:
      - "5000:5000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    platform: linux/amd64
    container_name: cart-mysql-dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cart_db
      MYSQL_USER: dev
      MYSQL_PASSWORD: dev
    ports:
      - "3307:3306"
    volumes:
      - cart_mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    container_name: cart-phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8082:80"
    depends_on:
      - db

volumes:
  cart_mysql_data:
