networks:
  microservices-network:
    driver: bridge

services:
  # UserService
  user-api:
    build:
      context: ./UserService
      dockerfile: Dockerfile.dev
    container_name: user-api-dev
    ports:
      - "3000:3000"
    volumes:
      - ./UserService/app:/app
      - /app/node_modules
    env_file:
      - ./UserService/.env
    networks:
      - microservices-network

  # CartService
  cart-api:
    build:
      context: ./CartService
      dockerfile: Dockerfile.dev
    container_name: cart-api-dev
    volumes:
      - ./CartService/app:/app
    env_file:
      - ./CartService/.env
    ports:
      - "5001:5000"
    networks:
      - microservices-network
    ports:
      - "3307:3306"
    volumes:
      - cart_mysql_data:/var/lib/mysql
    networks:
      - microservices-network

  # OrderService
  order-api:
    build:
      context: ./OrderService
      dockerfile: Dockerfile.dev
    container_name: order-api-dev
    ports:
      - "8080:8080"
    volumes:
      - ./OrderService/src:/app/src
      - ./OrderService/pom.xml:/app/pom.xml
    env_file:
      - ./OrderService/.env
    networks:
      - microservices-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    restart: unless-stopped
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "2181"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
        
  kafka:
    image: confluentinc/cp-kafka:7.3.0
    restart: unless-stopped
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s
      
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: microservices
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - microservices-network

volumes:
  user_mysql_data:
  cart_mysql_data:
  order_mysql_data: