services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: user-api-dev
    ports:
      - "3000:3000"
    volumes:
      - ./app:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - user-db

  user-db:
    image: mysql:8.0
    platform: linux/amd64
    container_name: user-mysql-dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3308:3306"
    volumes:
      - user_mysql_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    container_name: user-phpmyadmin
    restart: always
    environment:
      PMA_HOST: user-db
      PMA_PORT: 3306
    ports:
      - "8083:80"
    depends_on:
      - user-db

volumes:
  user_mysql_data:
